body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    background-color: #ffffff;
}

.container-fluid {
    display: flex;
    height: 100vh; 
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.sidebar {
    width: 40%; 
    background-color: #ffffff;
    padding: 60px 50px 20px 170px;
    box-shadow: none;
    /*box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);*/
    overflow: hidden; 
    box-sizing: border-box;
}

.sidebar .profile-picture {
    width: 100%;
    max-width: 133px;
    margin: 0 auto 15px;
    display: block;
    border-radius: 0%;
}

.sidebar h2 {  /* Esteban García Muñoz*/
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    text-align: left;
    margin-bottom: 20px;
}

.sidebar .title {  /* Computer Science Student */
    font-family: 'Segoe UI';
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #555555;
    margin-bottom: 0px;
}

.sidebar .subtitulo {  /* CUNEF UNIVERSIDAD*/
    font-size: 12px;
    text-align: left;
    color: #666;
    margin-bottom: 0px;
}

.section-divider {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.navigation {
    list-style: decimal;
    padding: 0;
    margin-left: 40px;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.navigation li {
    margin-bottom: 0px;
}

.navigation li a {
    text-decoration: none;
    font-size: 13px;
    color: #007bff;
    display: block;
    padding: 1px 0;
}

.navigation li a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Botones de contacto */
.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 69px;
}

.contact-buttons a {
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 3px;
    color: white;
    flex: 1;
    max-width: 80px;
}

.contact-buttons .btn-primary {
    background-color: #0f7aec;
    border: none;
}

.contact-buttons .btn-primary:hover {
    background-color: #0056b3;
}

.sidebar .email {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

/* "email:" en gris suave */
.sidebar .email span {
    color: #555555;
}

/* El link con el estilo clásico */
.sidebar .email a {
    color: #007bff; 
    text-decoration: underline;
}


/* Contenido desplazable */
.content-wrapper {
    flex: 1;
    height: 100vh;
    overflow-y: auto;   /* el scroll va aquí */
    box-sizing: border-box;
}

.content {
    font-family: "Segoe UI";
    font-size: 12px;
    padding: 60px 160px 20px 40px; /* mantiene tu padding actual */
    background-color: #ffffff;
    box-sizing: border-box;
}


.content h3 {  /* About Me */
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #555555;
}

.content h4 {
    font-size: 13px;
    font-weight: bold;
    color: #666;
    margin-bottom: 10px;
}


.content p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    text-align: justify;
}

.content ul{
    list-style-type: disc;
    padding-left: 50px;
}

.content ul li{
    margin-bottom: 4px;
    font-size: 13px;
    color: #666;
    line-height: 1.3;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f8f8f8;
}

.project-card {
    display: flex;
    flex-direction: row;  
    align-items: center;
    margin-bottom: 1.5rem;  
    border: 1px solid #ddd;  
    border-radius: 8px;
    padding: 10px;
}

.project-card img {
    max-width: 150px;  
    border-radius: 5px;
    margin-right: 20px;  
}

.project-card .card-body {
    flex: 1;  
}

.project-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.project-card .card-text {
    font-size: 1rem;
    color: #555;
}

.project-card {
    transition: transform 0.3s ease-in-out; 
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#skills .skill-category:first-child h4 {
    margin-top: 5px;  
}

